<div id="copyright">
  <ul>
    <li><a href="/" title="Free and open-source time-tracking for freelancer and agencies">&copy; Kimai.org</a></li>
    <li>Made with ♥ by <a href="https://www.kevinpapst.de">Kevin Papst</a></li>
    <li>Developed at <a href="{{ site.kimai_v2_repo }}">GitHub</a></li>
    <li><a href="/documentation/">Contact</a></li>
    <li><a href="https://www.kevinpapst.de/impressum/">Impressum</a> & <a href="https://www.kevinpapst.de/datenschutz/">Datenschutz</a></li>
  </ul>
</div>
