<ul class="links">
  <li class="{% if page.url == '/' %} active {% endif %}"><a href="{{ '/' | absolute_url }}" class="icon fa-home" title="Kimai Time-tracking"><span class="label">Homepage</span></a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ '/about/' | absolute_url }}">About Kimai</a></li>
  <li class="{% if page.url contains '/demo/' %} active {% endif %}"><a href="{{ '/demo/' | absolute_url }}">Demo</a></li>
  <li class="{% if page.url contains '/download/' %} active {% endif %}"><a href="{{ '/download/' | absolute_url }}">Download</a></li>
  <li class="{% if page.url contains '/documentation/' %} active {% endif %}"><a href="{{ '/documentation/' | absolute_url }}">Support</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ '/blog/' | absolute_url }}">News</a></li>
  <li class="{% if page.url contains '/v1/' %} active {% endif %}"><a href="{{ '/v1/' | absolute_url }}">v1</a></li>
</ul>
