<article>
	<header>
		<span class="date">{{ include.post.date | date_to_string }}</span>
		<h2><a href="{{ include.post.url | absolute_url }}">{{ include.post.title }}</a></h2>
	</header>
	{% if include.post.image != nil %}
		<a href="{{ include.post.url | absolute_url }}" class="image fit"><img src="{{ include.post.image | absolute_url }}" alt="" /></a>
	{% endif %}
	{{ include.post.excerpt }}
	<ul class="actions">
		<li><a href="{{ include.post.url | absolute_url }}" class="button">Full Story</a></li>
	</ul>
</article>
