<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">

		<div id="wrapper" class="fade-in">

			{% include header-link.html %}

			<nav id="nav">
				{% include nav.html %}
				<ul class="icons">
					{% include social.html %}
				</ul>
			</nav>

			<div id="main">
				<section class="post">
					{{content}}
				</section>

				{% include bottom-links.html %}
			</div>

			{% include footer.html %}

		</div>

		{% include scripts-main.html %}
		{% include tracking.html %}
	</body>
</html>
